# This is an example .env file for local development. You can copy this file to .env and modify the values as needed.

# Common configuration
IR_POSTGRES_URI=postgres://postgres:postgres@localhost:5432/ir
IR_JWT_SECRET=a-very-very-long-secret-key-that-should-be-changed
EXTERNAL_HTTP_PORT=8400

# Local Postgres configuration
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ir

# Optional configuration
IR_PROXY_URL=
EXTERNAL_POSTGRES_PORT=
